.container{
    height: 200px;
    width: 500ox;
    margin: auto;
    background-color: aliceblue;
}

.text{
	background-color: red;
}


.second-container{
    height: 400px;
    width: 300px;
    margin: auto;
    background-color: aqua;

}